boto==2.40.0
click==6.7
configparser==3.5.0
cryptography==3.3.2
enum34==1.1.6
Flask==1.0
future==0.15.2
httplib2==0.19.0
ipaddress==1.0.16
itsdangerous==0.24
Jinja2==2.11.3
jsonschema==2.5.1
lockfile==0.12.2
MarkupSafe==0.23
ndg-httpsclient==0.4.2
psutil==5.6.6
pyasn1==0.1.9
pycurl==7.43.0
pyOpenSSL==17.5.0
pytz==2016.10
pyxdg==0.26
requests==2.20.0
scour==0.32
six==1.10.0
virtualenv==15.1.0
Werkzeug==0.15.5
