<!doctype html>
<html>
<head>
    <title>CS Flash Cards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='highlight-theme-github.css') }}" />
    <script src="{{ url_for('static', filename='highlight.pack.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <br/>
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ url_for('index') }}">CS Flash Cards</a>

                        <ul class="nav navbar-nav navbar-right">
                            {% if not session.logged_in %}
                                <li><a href="{{ url_for('login') }}">log in</a></li>
                            {% else %}
                                <li><a href="{{ url_for('cards') }}">cards</a></li>
                                <li><a href="{{ url_for('tags') }}">tags</a></li>
                                <li><a href="{{ url_for('show') }}">show</a></li>
                                <li><a href="{{ url_for('list_db') }}">list database</a></li>
                                <li><a href="{{ url_for('create_db') }}">create database</a></li>
                                <li><a href="{{ url_for('memorize', card_type='1') }}">memorize</a></li>
                                <li><a href="{{ url_for('memorize_known', card_type='1') }}">memorize known items</a></li>
                                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                <li><a href="{{ url_for('logout') }}">log out</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>

                {% for message in get_flashed_messages() %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/8cea844162.js"></script>
    <script src="{{ url_for('static', filename='fastclick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='general.js') }}"></script>
</body>
</html>
