{% extends "layout.html" %}
{% block body %}
    <h2>Login</h2>
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}

    <div class="well">
        <form action="{{ url_for('login') }}" method=post>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary">Log in</button>
            </div>
        </form>
    </div>
{% endblock %}